<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="commons.css">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div class="w-100 full-height bg-main">
        <div class="nav-bar w-100 d-flex justify-content-between align-items-center">
            <div class="shop">
                <h3 class="text-white mb-0"><strong class="text-secondary-1">FR</strong>ESHER</h3>
            </div>
            <div class="nav d-flex align-items-center">
                <i class="text-white fa-solid fa-bell f-22 mx-3"></i>
                <i class="text-white fa-solid fa-cart-shopping f-22 mx-3"></i>
                <div class="account ms-3 position-relative">
                    <img src="./404 not found.png" class="img-circle"/>
                    <div class="account-more d-none bg-white position-absolute mt-3 end-0">
                        <ul class="more">
                            <li class="more-item"><i class="fa-solid fa-screwdriver-wrench me-2"></i>Manager account</li>
                            <li class="more-item"><i class="fa-solid fa-receipt me-2"></i>Your orders</li>
                            <li class="more-item"><i class="fa-solid fa-person-through-window me-2"></i>Logout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner main-width d-flex justify-content-between align-items-center">
            <div class="big-banner w-70">
                <img src="./iPhone-14-Pro-specs-810x298_c.jpeg" class="w-100" alt="banner">
            </div>
            <div class="sub-banner d-flex flex-column justify-content-center align-items-center w-30">
                <img src="./eabdaadef69a169117a2900e77bfde9f.jpg" alt="banner" class="h-50 w-100">
                <img src="./reno-8-1.jpg" alt="banner" class="h-50 w-100">
            </div>
        </div>
        <h5 class="text-white main-width pt-3 mb-0 pb-0"><i class="fa-solid fa-bars-staggered me-2"></i>Categories</h5>
        <div class="categories main-width">
            <ul class="cate-list main-width">
                <li class="cate-item d-flex justify-content-center align-items-center flex-column py-4 px-4">
                    <img class="img-circle cate-banner bg-white" src="./iphone.png"/>
                    <p class="cate-name mb-0 text-white mt-1">Apple phones</p>
                </li>
                <li class="cate-item d-flex justify-content-center align-items-center flex-column py-4 px-4">
                    <img class="img-circle cate-banner bg-white" src="./iphone.png" />
                    <p class="cate-name mb-0 text-white mt-1">Apple phones</p>
                </li>
                <li class="cate-item d-flex justify-content-center align-items-center flex-column py-4 px-4">
                    <img class="img-circle cate-banner bg-white" src="./iphone.png" />
                    <p class="cate-name mb-0 text-white mt-1">Apple phones</p>
                </li>
                <li class="cate-item d-flex justify-content-center align-items-center flex-column py-4 px-4">
                    <img class="img-circle cate-banner bg-white" src="./iphone.png" />
                    <p class="cate-name mb-0 text-white mt-1">Apple phones</p>
                </li>
                <li class="cate-item d-flex justify-content-center align-items-center flex-column py-4 px-4">
                    <img class="img-circle cate-banner bg-white" src="./iphone.png" />
                    <p class="cate-name mb-0 text-white mt-1">Apple phones</p>
                </li>
                <li class="cate-item d-flex justify-content-center align-items-center flex-column py-4 px-4">
                    <img class="img-circle cate-banner bg-white" src="./iphone.png" />
                    <p class="cate-name mb-0 text-white mt-1">Apple phones</p>
                </li>
                <li class="cate-item d-flex justify-content-center align-items-center flex-column py-4 px-4">
                    <img class="img-circle cate-banner bg-white" src="./iphone.png" />
                    <p class="cate-name mb-0 text-white mt-1">Apple phones</p>
                </li>
                <li class="cate-item d-flex justify-content-center align-items-center flex-column py-4 px-4">
                    <img class="img-circle cate-banner bg-white" src="./iphone.png" />
                    <p class="cate-name mb-0 text-white mt-1">Apple phones</p>
                </li>
                <li class="cate-item d-flex justify-content-center align-items-center flex-column py-4 px-4">
                    <img class="img-circle cate-banner bg-white" src="./iphone.png" />
                    <p class="cate-name mb-0 text-white mt-1">Apple phones</p>
                </li>
                <li class="cate-item d-flex justify-content-center align-items-center flex-column py-4 px-4">
                    <img class="img-circle cate-banner bg-white" src="./iphone.png" />
                    <p class="cate-name mb-0 text-white mt-1">Apple phones</p>
                </li>
            </ul>
        </div>
        <h5 class="text-white main-width pt-3 mb-0 pb-0">
            <i class="fa-solid fa-bolt-lightning me-2"></i>FlashSale
            <span class="mx-2 px-3 sale-remain bg-secondary-1 text-white">00:00:00</span>
        </h5>
        <div class="list-sale-product main-width py-3">
            <ul class="w-100 sale-list m-0">
                <li class="sale-item">
                    <div class="product">
                    <div class="product-img">
                        <div class="product-status d-flex justify-content-center align-items-center">
                            <div class="status-bound">
                                <div class="status">Saling</div>
                            </div>
                        </div>
                        <img src="./Iphone13-Promax.jpeg" alt="products-iphone-13">
                    </div>
                    <div class="product-name text-white bold">
                        Apple Iphone 13 Promax 2021
                    </div>
                    <div class="d-flex justify-content-start align-items-center product-price">
                        <div class="cur-price text-secondary-1 f-22 bold me-2">1375$</div>
                        <div class="old-price text-secondary f-14"><del>1468$</del></div>
                    </div>
                    </div>
                </li>
                <li class="sale-item">
                    <div class="product">
                        <div class="product-img">
                            <div class="product-status d-flex justify-content-center align-items-center">
                                <div class="status-bound">
                                    <div class="status">Saling</div>
                                </div>
                            </div>
                            <img src="./Iphone13-Promax.jpeg" alt="products-iphone-13">
                        </div>
                        <div class="product-name text-white bold">
                            Apple Iphone 13 Promax 2021
                        </div>
                        <div class="d-flex justify-content-start align-items-center product-price">
                            <div class="cur-price text-secondary-1 f-22 bold me-2">1375$</div>
                            <div class="old-price text-secondary f-14"><del>1468$</del></div>
                        </div>
                    </div>
                </li>
                <li class="sale-item">
                    <div class="product">
                        <div class="product-img">
                            <div class="product-status d-flex justify-content-center align-items-center">
                                <div class="status-bound">
                                    <div class="status">Saling</div>
                                </div>
                            </div>
                            <img src="./Iphone13-Promax.jpeg" alt="products-iphone-13">
                        </div>
                        <div class="product-name text-white bold">
                            Apple Iphone 13 Promax 2021
                        </div>
                        <div class="d-flex justify-content-start align-items-center product-price">
                            <div class="cur-price text-secondary-1 f-22 bold me-2">1375$</div>
                            <div class="old-price text-secondary f-14"><del>1468$</del></div>
                        </div>
                    </div>
                </li>
                <li class="sale-item">
                    <div class="product">
                        <div class="product-img">
                            <div class="product-status d-flex justify-content-center align-items-center">
                                <div class="status-bound">
                                    <div class="status">Saling</div>
                                </div>
                            </div>
                            <img src="./Iphone13-Promax.jpeg" alt="products-iphone-13">
                        </div>
                        <div class="product-name text-white bold">
                            Apple Iphone 13 Promax 2021
                        </div>
                        <div class="d-flex justify-content-start align-items-center product-price">
                            <div class="cur-price text-secondary-1 f-22 bold me-2">1375$</div>
                            <div class="old-price text-secondary f-14"><del>1468$</del></div>
                        </div>
                    </div>
                </li>
                <li class="sale-item">
                    <div class="product">
                        <div class="product-img">
                            <div class="product-status d-flex justify-content-center align-items-center">
                                <div class="status-bound">
                                    <div class="status">Saling</div>
                                </div>
                            </div>
                            <img src="./Iphone13-Promax.jpeg" alt="products-iphone-13">
                        </div>
                        <div class="product-name text-white bold">
                            Apple Iphone 13 Promax 2021
                        </div>
                        <div class="d-flex justify-content-start align-items-center product-price">
                            <div class="cur-price text-secondary-1 f-22 bold me-2">1375$</div>
                            <div class="old-price text-secondary f-14"><del>1468$</del></div>
                        </div>
                    </div>
                </li>
                <li class="sale-item">
                    <div class="product">
                        <div class="product-img">
                            <div class="product-status d-flex justify-content-center align-items-center">
                                <div class="status-bound">
                                    <div class="status">Saling</div>
                                </div>
                            </div>
                            <img src="./Iphone13-Promax.jpeg" alt="products-iphone-13">
                        </div>
                        <div class="product-name text-white bold">
                            Apple Iphone 13 Promax 2021
                        </div>
                        <div class="d-flex justify-content-start align-items-center product-price">
                            <div class="cur-price text-secondary-1 f-22 bold me-2">1375$</div>
                            <div class="old-price text-secondary f-14"><del>1468$</del></div>
                        </div>
                    </div>
                </li>
            </ul>
            <hr class="bg-white"/>
            <div class="navigation text-center d-flex justify-content-center mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link bg-main text-white" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link bg-main text-white" href="#">1</a></li>
                    <li class="page-item"><a class="page-link bg-main text-white" href="#">2</a></li>
                    <li class="page-item"><a class="page-link bg-main text-white" href="#">3</a></li>
                    <li class="page-item"><a class="page-link bg-main text-white" href="#">Next</a></li>
                </ul>
            </nav>
            </div>
        </div>
        <h5 class="text-white main-width pt-3 mb-0 pb-0">
            <i class="fa-solid fa-ticket me-2"></i>Coupons
        </h5>
        <div class="list-coupons-container main-width py-2">
            <ul class="list-coupons w-100">
                <li class="item-coupon my-1">
                    <div class="coupon  bg-white d-flex justify-content-between align-items-center">
                        <div class="discount py-3 px-2 text-center bold f-22 bg-coupon text-white d-flex justify-content-center align-items-center">
                            DISCOUNT<br/>100$
                        </div>
                        <div class="px-4">
                            <div class="coupon-content">Discount 100$ per product</div>
                            <div class="coupon-expires">13.11.2022</div>
                        </div>
                        <div class="save-coupon bg-secondary-1 h-100 px-3 me-2 py-2 link bold text-white">
                            SAVE
                        </div>
                    </div>
                </li>
                <li class="item-coupon my-1">
                    <div class="coupon  bg-white d-flex justify-content-between align-items-center">
                        <div
                            class="discount py-3 px-2 text-center bold f-22 bg-coupon text-white d-flex justify-content-center align-items-center">
                            DISCOUNT<br />100$
                        </div>
                        <div class="px-4">
                            <div class="coupon-content">Discount 100$ per product</div>
                            <div class="coupon-expires">13.11.2022</div>
                        </div>
                        <div class="save-coupon bg-secondary-1 h-100 px-3 me-2 py-2 link bold text-white">
                            SAVE
                        </div>
                    </div>
                </li>
                <li class="item-coupon my-1">
                    <div class="coupon  bg-white d-flex justify-content-between align-items-center">
                        <div
                            class="discount py-3 px-2 text-center bold f-22 bg-coupon text-white d-flex justify-content-center align-items-center">
                            DISCOUNT<br />100$
                        </div>
                        <div class="px-4">
                            <div class="coupon-content">Discount 100$ per product</div>
                            <div class="coupon-expires">13.11.2022</div>
                        </div>
                        <div class="save-coupon bg-secondary-1 h-100 px-3 me-2 py-2 link bold text-white">
                            SAVE
                        </div>
                    </div>
                </li>
                <li class="item-coupon my-1">
                    <div class="coupon  bg-white d-flex justify-content-between align-items-center">
                        <div class="discount py-3 px-2 text-center bold f-22 bg-coupon text-white d-flex justify-content-center align-items-center">
                            DISCOUNT<br/>100$
                        </div>
                        <div class="px-4">
                            <div class="coupon-content">Discount 100$ per product</div>
                            <div class="coupon-expires">13.11.2022</div>
                        </div>
                        <div class="save-coupon bg-secondary-1 h-100 px-3 me-2 py-2 link bold text-white">
                            SAVE
                        </div>
                    </div>
                </li>
                <li class="item-coupon my-1">
                    <div class="coupon  bg-white d-flex justify-content-between align-items-center">
                        <div
                            class="discount py-3 px-2 text-center bold f-22 bg-coupon text-white d-flex justify-content-center align-items-center">
                            DISCOUNT<br />100$
                        </div>
                        <div class="px-4">
                            <div class="coupon-content">Discount 100$ per product</div>
                            <div class="coupon-expires">13.11.2022</div>
                        </div>
                        <div class="save-coupon bg-secondary-1 h-100 px-3 me-2 py-2 link bold text-white">
                            SAVE
                        </div>
                    </div>
                </li>
                <li class="item-coupon my-1">
                    <div class="coupon  bg-white d-flex justify-content-between align-items-center">
                        <div
                            class="discount py-3 px-2 text-center bold f-22 bg-coupon text-white d-flex justify-content-center align-items-center">
                            DISCOUNT<br />100$
                        </div>
                        <div class="px-4">
                            <div class="coupon-content">Discount 100$ per product</div>
                            <div class="coupon-expires">13.11.2022</div>
                        </div>
                        <div class="save-coupon bg-secondary-1 h-100 px-3 me-2 py-2 link bold text-white">
                            SAVE
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer p-4 text-center">
            <strong class="vmo text-white f-25">
                <span class="f-18">Fresher at</span>
                <strong class="text-secondary-1">V</strong>MO
            </strong>
            <div class="text-secondary-1">Author: D.Khanh</div>
            <div class="text-secondary-1">This site was created by JSX, reactJs</div>
            <div class="text-white">Hanoi, 15.09.2022</div>
        </div>
    </div>
</body>
</html>